main {
    margin-top: 50px;
    text-align: center;
}
body {
    font-family: "Georgia", serif;
    background-color: #f3ece6;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    color: #6b5647;
    margin-bottom: 20px;
}

.login-box {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: left;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #191818;
    font-weight: bold;
}
input[name="name"] {
    background-color: #f3efef;
    max-width: 450px;
    width: 100%;
    margin-left: 0px;
}
input[type="email"] {
    background-color: #f3efef;
    width: 350px;
    margin-left: 0px;
}
input[type="password"] {
    background-color: #f3efef;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 20px;
}
input::placeholder {
    color: #bbb;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #8a7664;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #6b5647;
}
